.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d3d3d3;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  gap: 40px;
  list-style: none;
  color: #000000;
}

.header button {
  width: 150px;
}
