table {
  border-collapse: collapse; 
}

.transaction_head_item,
.transaction_body_item {
  border: 2px solid black; 
  padding: 7px;
  width: 250px;
  text-align: center; 
}
.transaction_head_item {
  background-color: #141414;
}

.transaction_body {
  background-color: #f7f7f7;
  color: #000000;
}

.transaction_body_item:first-letter {
  text-transform: uppercase;
}

.transaction_body_item {
  font-weight: 500;
}

.color {
  background-color: #c0c0c0;
}
